Repository Gagan9841/nepal-sambat-converter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vue-tsc --noEmit

test: fix and enhance test configuration, dependencies, and TypeScript settings for robust Vue and Vitest support
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vitest.config.ts
Due: eslint --fix, prettier --write, vue-tsc --noEmit

updated readme
  README.md
Due: prettier --write

Readme
  README.md
Due: prettier --write

Update calendar calculations and fix conversion issues
  nsalgorithm.pdf
  package-lock.json
  package.json
  src/astronomy/calculations.ts
  src/calendar/conversion.ts
  src/components/NepalSambatCalendar.vue
  src/constants/types.ts
  src/constants/values.ts
  src/test-conversion.ts
  src/utils/julian.ts
  tsconfig.json
Due: eslint --fix, prettier --write, vue-tsc --noEmit

1.0.2
  package-lock.json
  package.json
Due: prettier --write

fix: NepalSambatCalendar now accepts date prop and test passes
  src/components/NepalSambatCalendar.vue
  src/components/__tests__/NepalSambatCalendar.test.ts
  tsconfig.vitest.json
Due: eslint --fix, prettier --write, vue-tsc --noEmit

UPDATE: minor
  .github/workflows/publish.yml
Due: none

Bump version to 1.0.3
  package.json
Due: prettier --write

Unnecessary dependancy removed
  package-lock.json
  package.json
Due: prettier --write

UPDATE: publish script and release script added
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

1.0.4
  package-lock.json
  package.json
Due: prettier --write

1.1.0
  package-lock.json
  package.json
Due: prettier --write

2.0.0
  package-lock.json
  package.json
Due: prettier --write

2.0.1
  package-lock.json
  package.json
Due: prettier --write

2.1.0
  package-lock.json
  package.json
Due: prettier --write

UPDATE in some dependencies and minor fixes in calculation
  package.json
Due: prettier --write

ci(release): add write permissions for release creation
  .github/workflows/release.yml
Due: none

version update
  package-lock.json
  package.json
Due: prettier --write

2.1.3
  package-lock.json
  package.json
Due: prettier --write

readme updated
  README.md
  package-lock.json
  package.json
Due: prettier --write

2.1.4
  package-lock.json
  package.json
Due: prettier --write

UPDATED Readme and test conversion
  README.md
  src/test-conversion.ts
Due: eslint --fix, prettier --write, vue-tsc --noEmit

UPDATE: publish yml and package json changes
  .github/workflows/publish.yml
  package.json
Due: prettier --write

2.1.5
  package-lock.json
  package.json
Due: prettier --write

publish yml changed
  .github/workflows/publish.yml
Due: none

package json changed
  package.json
Due: prettier --write

2.1.6
  package-lock.json
  package.json
Due: prettier --write

UPDATE: Tithi calculation logic slightly changed
  src/astronomy/calculations.ts
  src/calendar/conversion.ts
  src/constants/types.ts
  src/constants/values.ts
Due: eslint --fix, prettier --write, vue-tsc --noEmit

2.1.7
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md})
  vue-tsc --noEmit: any of: *.{ts,vue}
